<div>
  <!-- True -->
  <div class="form-check my-2">
    <input type="radio" name="true-false-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">True</label>
  </div>
  <!-- False -->
  <div class="form-check my-2">
    <input type="radio" name="true-false-<%= question.id %>" class="form-check-input" disabled>
    <label class="form-check-label">False</label>
  </div>
</div>