<%= link_to("Back", questions_path(:form_id => @question.preference_form_id), class: "btn btn-primary btn-sm mt-2 mb-2") %>
<h1>Delete Question</h1>
<%= form_for(@question, :method => "delete") do |f| %>
  <p>Are you sure you want to permanently delete this question?</p>
  <%= render(:partial => "question_show", :locals => {:question => @question}) %>
  <div>
    <%= f.submit("Delete Question", class: "btn btn-danger") %>
  </div>
<% end %>