<%= link_to("Home", questions_path()) %>
<h1>Edit Question</h1>
<%= form_for(@question) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f,:form_id => @question.preference_form_id}) %>
  <p>
    <%= f.submit("Update Question", class: "btn btn-primary") %>
  </p>
<% end %>