
<h1 class="my-4">Delete Form</h1>
<%= form_for(@form, :method => "delete") do |f| %>
  <p>Are you sure you want to permanently delete this form: <b><%= @form.title %></b>?</p>
  <div>
    <%= link_to("Back", preference_forms_path(), class: "btn btn-secondary ml-2") %>
    <%= f.submit("Delete Form", class: "btn btn-danger") %>
  </div>
<% end %>