<h1>New Form</h1>
<%= form_for(@form) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
    <p>
        <%= link_to("Back", preference_forms_path) %>
        <%= f.submit("Add Questions", class: "btn btn-primary my-1") %>
    </p>
<% end %>