<style>
  body {
    background-color: wheat;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<% flash.each do |key, value| %>
			<div class="flash-notice <%= key %>"><%= value %></div>
<% end %>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
