<!-- Card layout for each question. -->
<div class="card mb-4">
  <!-- Card Body -->
  <div class="card-body">
    <h5 class="card-title"><%= question.question %></h5>
    <!-- Renders the question type partial -->
    <%= render(:partial => get_partial(question), :locals => {:question => question, :f => f}) %>
  </div>
</div>