<style>
  body {
    background-color: wheat;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div id="clearance" class="password-reset">
  <p><%= t(".description") %></p>
</div>
