<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
Welcome to FCPartnershipMatcher! It seems that you are an unapproved user. When you are approved by an admin, you will be able to access the rest of the application.