<div class="card">
  <div class="card-header">
    <h2>No Results Found</h2>
    <h6>This chair has no prospects/results.</h6>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p>
        If this message appears after clicking "Unmatched Chairs" then there are no more chairs without
        a partner. Otherwise, it is likely that this chair either did not fill out a Preference Form and
        no other chair selected this chair as a preference.
      </p>
    </li>
  </ul>
</div>