<tr>
  <th scope="row"> <%= unmatched_num %> </th>
  <td> <%= chair.name %> </td>
  <td></td>
  <td>
    <%= link_to("Find Match", new_match_path(:user_id => chair.user_id), class: "btn btn-success btn-sm") %>
  </td>
</tr>