<%= link_to("Back", :back, class: "btn btn-primary btn-sm mt-2 mb-2") %>
<h1 class="mb-4">Search Result</h1>

<div class="row">
  <!-- Selector Card -->
  <div class="col-6">
    <%= render(:partial => "show_card", :locals => {chair: @selector, preferences: @selector_preferences, anti_preferences: @selector_anti_preferences, answers: @selector_answers}) %>
  </div>

  <!-- Prospect Card -->
  <div class="col-6">
    <%= render(:partial => "prospect_card", :locals => {:prospect_id => @prospect_id}) %>
  </div>
</div>