<h1 class="my-4">Find Match</h1>

<div class="row">
  <!-- Selector Card -->
  <div class="col-6">
    <%= render(:partial => "selector_card") %>
  </div>

  <!-- Selected Cards -->
  <div id="carouselExampleControls" class="col-6 carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <% prospect_count = 0 %>
      <% @match.prospects_ids.each do |prospect_id| %>
        <% prospect_count = prospect_count + 1 %>
        <% if prospect_count == 1 %>
          <div class="carousel-item active">
            <%= render(:partial => "prospect_card", :locals => {:prospect_id => prospect_id}) %>
          </div>
        <% else %>
          <div class="carousel-item">
            <%= render(:partial => "prospect_card", :locals => {:prospect_id => prospect_id}) %>
          </div>
        <% end %>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>