// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th {
    text-align: left;
}

.heading {
    text-align: center;
}

.questions-table {
    margin: auto;
    width: 100%;
}

.index {
    text-align: center;
}

.actions {
    text-align: center;
}

.notice {
    color: red;
}
