<h1 class="my-4">Help for Administrator</h1>
<p>The administrator is a single Director that has the role of "Admin". An Administrator can most notably, modify data in the application,
approve each user that signs up for an account on the applicaiton, and can change the privileges of any user.</p>

<h2>1. How To Approve A User</h2>
<p>Since anyone can create an account on the application, each person must be manually approved by an administrator. <strong>Users that have not been approved
by an administrator will not be able to access any features on the application.</strong></p>
<ol type="1">
  <li>Sign in to the website <strong>with an account that has "Administrator" privileges.</strong></li>
  <li>Visit the Administrator Dashboard tab in the navigation bar.</li>
  <li>Click on the "Users" link on the left hand bar.</li>
  <li>For each user, their approval status will appear next to their name. Click "Edit" on a user.</li>
  <li>Check the "Approved" checkbox and click "Save".</li>
</ol>