<h1 class="my-4">Help for Chairs</h1>

<h2>1. How to Create a Profile</h2>
<p><strong>All chairs are required to have a Profile.</strong> The only field in the Profile that is 
required is filling in your full name. Although the other fields are not required, we highly encourage 
each chair to fill out as much of their profile as possible.
</p>
<ol type="1">
  <li>Sign in to the website or Sign up (and confirm your email address).</li>
  <li>Visit the <%= link_to("Create New Profile", new_profile_path) %> tab in the navigation bar.</li>
  <li>Fill in at least your full name in the appropriate field.</li>
  <li>We encourage you to fill in as many of the other fields as possible.</li>
  <li>Click "Create Profile" at the bottom of the page.</li>
</ol>

<h2>2. Preference Forms</h2>
<p>A Preference Form allows Directors to get all of your partnership preferences as well as a feel 
for you as a person through your responses to the form's questions.
Filling out a Preference Form is vital in order for Directors to find you the best possible partner.
</p>
<h5>Filling Out a Preference Form</h5>
<ol type="1">
  <li>Sign in to the website or Sign up (and confirm your email address).</li>
  <li>Visit the <%= link_to("Forms", public_forms_path) %> tab in the navigation bar.</li>
  <li>Click "Open" on the desired Preference Form.</li>
  <li>Follow the instructions at the top of the page. Be sure to fill out all questions and submit all of the required preferences.</li>
  <li>Once you have filled out all questions, preferences, and anti-preferences (if applicable), click "Reivew Responses".</li>
  <l1>After you have reviewed all of your responses and preferences, click "Submit".</l1>
</ol>
<h5>Preference Form Deadlines</h5>
<p><strong>All Preference Forms have deadlines.</strong> If you fail to <strong>completley submit</strong> your Preference Form, contact a Director.
It is up to the discretion of a Director as to allow you to submit a Preference Form after the deadline, so please submit one before the deadline</p>