<h1 class="my-4">Support</h1>
<p>
Welcome to the Fish Camp Partnership Matcher Support page. In here, you can find helpful
information on how to navigate the application, do certain tasks, and do tasks that are specific to your role.
To get started, select your role in Fish Camp.
</p>
<p>I am a...</p>
<div>
  <%= link_to("Chair", "support/chair", class: "btn btn-primary btn-sm") %>
  <%= link_to("Director", "support/director", class: "btn btn-primary btn-sm") %>
  <%= link_to("Admin", "support/admin", class: "btn btn-primary btn-sm") %>
</div>